.main {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 100px;
}

.intro {
    margin-right: 10%;
}

.profile {
    border-radius: 50%;
    width: 150px;
    min-width: 150px;
    height: 150px;
}

h3, h4, p {
    text-align: center;
}